checkpoints/
results/
.idea/
*.tar.gz
*.zip
*.pkl
*.pyc
models/networks/encoder.py
20190804.html
20190804_epoch100.html
ade20k.txt
ade20k_depth.txt
baseline/
baseline_gen/
clean.txt
cluster/
cluster_reduced/
count_class_in_txt.py
data/__pycache__/
datasets/coco_stuff/class182.txt
datasets/gigasun/
datasets/gigasun_hq_5000.txt
datasets/gigasun_hq_objects.txt
datasets/gigasun_hq_objects_part01.txt
datasets/gigasun_hq_objects_part02.txt
datasets/gigasun_hq_objects_part03.txt
datasets/gigasun_hq_objects_part04.txt
datasets/gigasun_hq_objects_part05.txt
datasets/gigasun_hq_objects_part06.txt
datasets/gigasun_hq_objects_part07.txt
datasets/gigasun_hq_objects_part08.txt
datasets/gigasun_hq_objects_part09.txt
datasets/gigasun_hq_objects_part10.txt
datasets/gigasun_hq_objects_part11.txt
datasets/gigasun_hq_objects_part12.txt
datasets/gigasun_hq_objects_part13.txt
datasets/gigasun_hq_objects_part14.txt
datasets/gigasun_hq_objects_part15.txt
datasets/gigasun_hq_objects_part16.txt
datasets/gigasun_hq_objects_part17.txt
datasets/gigasun_hq_objects_part18.txt
datasets/gigasun_hq_objects_part19.txt
datasets/interiornet/
datasets/interiornet_new/
datasets/lsun/
datasets/training_objgen_10_26.txt
datasets/training_objgen_10_26_5000_per_class.txt
datasets/training_objgen_10_26_no_ade.txt
debug/
delete.jpg
delete.png
depth_inference/
eval.py
eval/
fid/
figures/
finalized_model.sav
gen/
gen_bed/
gigasun_examples.txt
hed/
label/
lsun_subset.txt
model.txt
object150.json
output/
part1.txt
part2.txt
part3.txt
parts_to_do.txt
pillow/
plot_image.py
real/
real_bed/
reduced_model.sav
results_ADE/
save_kmean.py
script.py
scripts/
test_images.txt
testing_illumination_depth_list.txt
tmp.png
tmp.txt
venv/
venv36/
vh_test.txt
virtualhome.json
~/
